#!/usr/bin/make -f

include /usr/share/ocaml/ocamlvars.mk

HERODOTOS_FLAGS = BYTECODE_STATIC="" MANDIR=/usr/share/man

COMMON_CONFIG = --prefix=/usr

ifeq ($(OCAML_HAVE_OCAMLOPT),yes)
OCAMLRUN =
CONFIG_FLAGS = $(COMMON_CONFIG) --opt
MAKE_TGT = opt
else
OCAMLRUN = ocaml-base-nox-$(OCAML_ABI)
CONFIG_FLAGS = $(COMMON_CONFIG) --no-opt
MAKE_TGT = all
endif

build: build-stamp
build-stamp:
	dh build --before dh_auto_configure
	./configure $(CONFIG_FLAGS)
	$(MAKE) $(HERODOTOS_FLAGS) depend
	$(MAKE) $(HERODOTOS_FLAGS) $(MAKE_TGT)
	dh build --after dh_auto_test
	touch build-stamp

clean: #unpatch
	dh clean --before dh_auto_clean
	dh clean --after dh_auto_clean

install: install-stamp
install-stamp: build-stamp
	dh install --before dh_auto_install
	$(MAKE) DESTDIR=$(CURDIR)/debian/herodotos $(HERODOTOS_FLAGS) install

	dh install --after dh_auto_install --before dh_compress
	dh_compress -X.pdf
	dh install --after dh_compress
	touch install-stamp


binary-arch: install
	dh binary-arch --before dh_gencontrol
	dh_gencontrol -a -- -VF:OCamlRun="$(OCAMLRUN)"
	dh binary-arch --after dh_gencontrol

binary-indep: install

binary: binary-indep binary-arch

.PHONY: build clean binary-indep binary-arch binary install tag-patches
