Source: herodotos
Section: devel
Priority: optional
Maintainer: Nicolas Palix <npalix@diku.dk>
Build-Depends: debhelper (>= 7), ocaml-nox (>= 3.11.0),
 menhir (>= 20090204.dfsg), libmenhir-ocaml-dev (>= 20090204.dfsg),
 ocaml-findlib, dh-ocaml, ocaml-best-compilers
Standards-Version: 3.8.3
Homepage: http://www.diku.dk/~npalix/herodotos/

Package: herodotos
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, ${F:OCamlRun}, diff (>= 2.8.1),
 jgraph (>= 83), ps2eps (>= 1.64)
Recommends: imagemagick, texlive-extra-utils (>= 2007.dfsg)
Suggests: coccinelle
Enhances: inkscape (>= 0.47)
Description: A tool to correlate occurrences of patterns across versions
 Herodotos relies on the file being in the Org format. Its initial purpose is to
 post-process the output of Coccinelle, a pattern finder for C programs
 based on semantic patches. Herodotos Configuration language allows the user
 to specify the presentation of the correlated occurrences.
 When used in conjunction with Coccinelle, it allows to build several kinds of
 graphical views for defects found by a SmPL file. Herodotos currently computes
 statistics on occurrences such as the evolution of the number of occurrences,
 their average lifespan, and the density of the occurrences.
